@charset 'UTF-8';

/* General Styles */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background-color: rgba(251, 249, 207, 0.667);
    color: #555;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

header {
    background-color: rgba(13, 84, 249, 0.7);
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

header .logo {
    width: 50px;
}

.main-nav {
    display: flex;
    justify-content: flex-end;
}

.main-nav li {
    list-style: none;
    margin-left: 1rem;
}

.main-nav a {
    color: white;
    text-decoration: none;
    font-weight: 400;
}

.main-nav a:hover {
    text-decoration: underline;
}

/* Main Section */
main {
    padding-top: 80px;
}

.video-section {
    text-align: center;
    margin-bottom: 2rem;
}

.title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.description {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.video-container video {
    width: 80%;
    height: auto;
    border: 1px solid #ccc;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

/* Details Section */
.details-section {
    background-color: #fff;
    padding: 2rem;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

.details-section h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.details-section ul {
    padding-left: 20px;
}

.details-section ul li {
    list-style-type: disc;
    margin-bottom: 0.5rem;
}

/* Footer */
footer {
    background-color: rgba(13, 84, 249, 0.7);
    text-align: center;
    padding: 1rem;
    color: white;
    position: relative;
}

footer p {
    margin: 0;
}

.slides-video-container {
    margin-top: 2rem;
    text-align: center;
}

.slides-video-container h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.slides-video-container video {
    width: 80%;
    height: auto;
    border: 1px solid #ccc;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
